# Arquivo de segredos - NUNCA deve ir para o repositório
.env

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de ambiente virtual
.venv
venv/
env/

# Dados do Docker - Não queremos salvar o banco de dados no Git
postgres_data/
redis_data/

# Pastas de IDEs (opcional, mas recomendado)
.vscode/
.idea/

# Outros
*.log